# Ignore Node modules
**/node_modules/
**/.pnp
.pnp.js

# Logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
**/.env

# Build output
**/dist/
**/build/
**/.next/
**/out/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
**/docker-volume/
**/tmp/
**/*.pid

# Coverage
coverage/
*.lcov

# Git
*.swp
*.swo

# Runtime
**/.turbo/
